.App-header {
  background-color: #1853b2;
  height: 40px;
  padding: 20px;
  color: white;
} 

.App-header a {
  text-decoration: none;
  color: white;
}

.App-header ul {
  display: flex;
}

.App-header ul li {
  margin: 0 20px;
}

.App-intro {
  font-size: large;
}

